/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* NAVBAR */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #ececec;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    max-width: 120px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* LOGO */

#logo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    max-width: 100%;
}

/* GRID */

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 50px;
    margin-top: -50px;
    justify-content: center;
}

.item img{
    max-width: 100%;
    max-height: 390px;
    /* height: 300px; */
}

.item p{
    text-align: center;
    margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 950px) {
    #grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 550px) {

    #grid{
        grid-template-columns: 1fr;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        height: 100vh;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}